[package]
name = "hokulea-example-preloader"
version = "0.1.0"
edition = "2021"


[dependencies]
hokulea-proof.workspace = true
hokulea-host-bin.workspace = true
hokulea-witgen.workspace = true
hokulea-client.workspace = true

# General
anyhow.workspace = true
tracing.workspace = true
tokio = { workspace = true, features = ["full"] }
clap = { workspace = true, features = ["derive", "env"] }

kona-client.workspace = true
kona-preimage.workspace = true
kona-proof.workspace = true


# Execution
alloy-evm.workspace = true
op-revm.workspace = true
op-alloy-consensus.workspace = true